*{
    font-family: 'Roboto', sans-serif;

}

.block{
    border: 1px solid black;
}
.block__title{
    text-align: center;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.card{
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}